---
mysql_version: 8.0
percona_version: 80
mysql_config:
  mysqld:
    long_query_time: '1'
    slow-query-log-file: '/var/log/mysql/mysql-slow.log'
    default-time-zone: '+00:00'
    skip-character-set-client-handshake: ''
    local-infile: '1'
    max_allowed_packet: '200M'
    bind-address: 0.0.0.0
    tls_version: TLSv1.2
mysql_users:
  - username: 'admin'
    password: ''
    privileges: '*.*:ALL,GRANT'
  - username: 'rw'
    password: ''
    privileges: '*.*:SELECT,INSERT,UPDATE,DELETE,CREATE TEMPORARY TABLES'
  - username: 'ro'
    password: ''
    privileges: '*.*:SELECT'
