---
php_version: 7.4
xdebug_ide_key: XDEBUG
xdebug_port: 9001
# http://php.net/manual/en/ini.list.php
php_fpm_config:
  error_reporting: 'E_ALL'
  expose_php: 'Off'
  date.timezone: 'UTC'
  error_log: /var/log/fpm-php.www.log
  max_execution_time: 60
  cgi.fix_pathinfo: 0
php_cli_config:
  error_reporting: 'E_ALL'
  expose_php: 'Off'
  date.timezone: 'UTC'
  error_log: /var/log/cli-php.log
