zend_extension=xdebug.so

xdebug.remote_enable = 1
xdebug.remote_connect_back = 1
xdebug.idekey = {{ xdebug_ide_key }}

xdebug.profiler_enable_trigger = 1
xdebug.profiler_output_dir = /var/www/vhosts/_xdebug/profiler

xdebug.trace_enable_trigger = 1
xdebug.trace_output_dir = /var/www/vhosts/_xdebug/trace
