---
- name: Add PHP PPA
  apt_repository:
    repo: "{{ php_ppa }}"
    update_cache: yes

- name: Install PHP FPM
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  with_items:
   - php{{ php_version }}
   - php{{ php_version }}-dev
   - php{{ php_version }}-common
   - php{{ php_version }}-cli
   - php{{ php_version }}-mysql
   - php{{ php_version }}-imagick
   - php{{ php_version }}-gd
   - php{{ php_version }}-intl
   - php{{ php_version }}-curl
   - php{{ php_version }}-intl
   - php{{ php_version }}-readline
   - php{{ php_version }}-mbstring
   - php{{ php_version }}-xml
   - php{{ php_version }}-zip
   - php{{ php_version }}-json
   - php{{ php_version }}-fpm

- name: Update PHP FPM Configuration
  lineinfile:
    dest: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: '^;?{{ item.key }}\s+=\s+'
    line: '{{ item.key }} = {{ item.value }}'
    state: present
    backup: yes
  with_dict: "{{ php_fpm_config }}"
  notify: Restart PHP FPM

- name: Update PHP CLI Configuration
  lineinfile:
    dest: /etc/php/{{ php_version }}/cli/php.ini
    regexp: '^;?{{ item.key }}\s+=\s+'
    line: '{{ item.key }} = {{ item.value }}'
    state: present
    backup: yes
  with_dict: "{{ php_cli_config }}"
  notify: Restart PHP FPM

- name: Check Composer Installed
  shell: which composer
  register: composer_installed
  ignore_errors: yes

- name: Download Composer Installer
  get_url:
    url: https://getcomposer.org/installer
    dest: /home/{{ user_account }}/composer-setup.php
  when: composer_installed.rc == 1

- name: Run Composer Installer
  shell: php /home/{{ user_account }}/composer-setup.php --quiet --install-dir=/usr/local/bin --filename=composer
  when: composer_installed.rc == 1

- name: Make Composer Executable
  file:
    path: /usr/local/bin/composer
    owner: root
    group: root
    mode: 0777
  when: composer_installed.rc == 1

- name: Update Composer
  shell: composer self-update
  when: composer_installed.rc == 0

- name: Setup Composer Environment
  copy:
    src: composer.sh
    dest: /etc/profile.d
    owner: root
    group: root
    mode: 0644

- name: Cleanup Composer Setup
  file:
    path: /home/{{ user_account }}/composer-setup.php
    state: absent

- name: Check XDebug Installed
  stat:
    path: /etc/php/{{ php_version }}/mods-available/xdebug.ini
  register: xdebug_installed
  when: inventory_hostname in groups['development']

- name: Update PECL Channels
  shell: pecl channel-update pecl.php.net
  when: inventory_hostname in groups['development'] and xdebug_installed.stat.exists == false

- name: Install XDebug
  shell: pecl install xdebug
  when: inventory_hostname in groups['development'] and xdebug_installed.stat.exists == false

- name: Copy XDebug Configuration
  template:
    src: xdebug.ini.j2
    dest: /etc/php/{{ php_version }}/mods-available/xdebug.ini
    owner: root
    group: root
    mode: 0644
  when: inventory_hostname in groups['development'] and xdebug_installed.stat.exists == false

- name: Symlink XDebug Configuration
  file:
    src: /etc/php/{{ php_version }}/mods-available/xdebug.ini
    dest: /etc/php/7.1/fpm/conf.d/20-xdebug.ini
    state: link
    owner: root
    group: root
    mode: 0777
  notify: Restart PHP-FPM
  when: inventory_hostname in groups['development']

- name: Configure UFW
  ufw:
    rule: allow
    port: "{{ xdebug_port }}"
  when: inventory_hostname in groups['development'] and xdebug_installed.stat.exists == false
