zend_extension=/usr/lib/php/20200930/xdebug.so

xdebug.mode = develop,debug,profile,trace
xdebug.idekey = {{ xdebug_ide_key }}
xdebug.discover_client_host = 1
xdebug.output_dir = /var/www/vhosts/_xdebug
